<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--  한글 나오게 설정  -->
	<meta charset="UTF-8">

	<!--   jquery import  -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>

	<!--   css import  -->
	<link rel="stylesheet" type="text/css" href="../../static/css/index.css">

	<!--   script import  -->
	<script type="text/javascript" src="../../static/js/index.js"></script>

	<!--   fonts import  -->
	<link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="margin: 0 0 0 0; padding : 0 0 0 0;">
	<!--  상단 고졍 메뉴바 div  -->
	<div class='top'>
			<div class='top_logo'>
				<!--
				<img class='top_logo_img' src="./logo.png">
				-->
				<span class="top_logo_txt">Euliro-3-ga</span>
			</div>
			<div class='top_nav'>
				<a href="../"><span class="menu" id="w"> HOME </span></a>
				<span class='menu_slash'> / </span>
				<span class="menu" id="tmp"> RECOMMEND </span>
				<span class='menu_slash'> / </span>
				<span class="menu" id="h"> MBTI </span>
				<span class='menu_slash'> / </span>
				<a href="../about_us"><span class="menu"> ABOUT US </span></a>

			</div>
	</div>

	<div class='middle'>
		<!--
		<div class="cat_image">
			<img src="../../static/img/cat_img.png" style="width: 100%; height: 10vw;">
		</div>
		-->


		<div class="slideshow-container">

			<div class="mySlides fade">
			  <div class="numbertext">1 / 3</div>
			  <img src="../../static/img/bg1.jpg" style="width:100%; height: 50%;">

			</div>

			<div class="mySlides fade">
			  <div class="numbertext">2 / 3</div>
			  <img src="../../static/img/bg2.jpg" style="width:100%; height: 50%;">

			</div>

			<div class="mySlides fade">
			  <div class="numbertext">3 / 3</div>
			  <img src="../../static/img/bg3.jpg" style="width:100%; height: 50%;">

			</div>

		</div>
		<br>
		
		<!--
		<div style="text-align:center">
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		</div>
		-->

		<div class="introduce_content">
			<div class="img_block">
				<div class="content" id="content1">
					<div class="content_img">
						
						<img id="content_img1" src="../../static/img/bg1.jpg" style="width: 100%; ">
					
					</div>
					
					<div class="overlay">
						<div class="content_txt">
							<span style="font-size: 1rem;"><strong>CONTENT1</strong></span>
						</div>
						<div class="mark_div" id="mark1">
							
						</div>
					</div>
				</div>

				<div class="content" id="content2">
					<div class="content_img">
						
						<img id="content_img2" src="../../static/img/bg2.jpg" style="width: 100%; ">
					
					</div>
					<div class="overlay">
						<div class="content_txt">
							<span style="font-size: 1rem;"><strong>CONTENT2</strong></span>
						</div>
						<div class="mark_div" id="mark2">
							
						</div>
					</div>
				</div>

				<div class="content" id="content3">
					<div class="content_img">
						
						<img id="content_img3" src="../../static/img/bg3.jpg" style="width: 100%; ">
					
					</div>
					<div class="overlay">
						<div class="content_txt">
							<span style="font-size: 1rem;"><strong>CONTENT3</strong></span>
						</div>
						<div class="mark_div" id="mark3">
							
						</div>
					</div>
				</div>

				<div class="content" id="content4">
					<div class="content_img">
						
						<img id="content_img4" src="../../static/img/bg4.jpg" style="width: 100%; ">
					
					</div>
					<div class="overlay">
						<div class="content_txt">
							<span style="font-size: 1rem;"><strong>CONTENT4</strong></span>
						</div>
						<div class="mark_div" id="mark4">
							
						</div>
					</div>
				</div>
			</div>
			<div class="text_block">
				<div class="text_container">
					<span id="text_container_content" style="color: white; font-size: 50px;">CONTENT1 <strong>1</strong></span>
				</div>
				<div class="mark_div2" id="text_block_mark">
							
				</div>
			</div>
		</div>
	</div>	
	
	<div class='bottom'>
		<div class='domain'>
			<span style="color: white; font-size: 3rem;"> www.Euljiro-3-ga.com </span>

		</div>
		<div class='domain_content' style="background-color: black;">
			<div class='contact' style="background-color: black;">
				<span><img class="logo_icon" src="../../static/img/logo.png"></span>
				<br><br>
				<span class='domain_content_title'>
					<strong>CONTACT</strong>
					<hr width="50%" align="left" style="color:#EDA900; background-color:#EDA900; height:1px; border:none;" />
				</span>
				<br>
				<span style="color: white; font-size: 1rem;">
					<img class="contact_icon" src="../../static/img/phone_img.png" align="middle">
					&nbsp;<strong>010-4618-2620</strong>
				</span>
				<br><br>
				<span style="color: white; font-size: 1rem;">
					<img class="contact_icon" src="../../static/img/email_img.png" align="middle">
					&nbsp;<strong>example@gmail.com</strong>
				</span>
				<br><br>
				<span style="color: white; font-size: 1rem;">
					<img class="contact_icon" src="../../static/img/location_img.png" align="middle">
					&nbsp;<strong>Eulji-ro-3-ga, Jung-gu, Seoul</strong>
				</span>
				<br><br>
				<span style="color: white;">
					<img class='contact_sns_icon' src="../../static/img/facebook_img.png" align="middle">
					&nbsp;
					<img class='contact_sns_icon' src="../../static/img/insta_img.png" align="middle">
				</span>
			</div>


			<div class='crowd_funding'>
				<span  class='domain_content_title'>
					<strong>CROWD FUNDING</strong>
					<hr width="80%" align="left" style="color:#EDA900; background-color:#EDA900; height:1px; border:none;" />
				</span>
				<span style="color: white; font-size: 1.5rem;">
					<strong>www.ohmycompany.com</strong>
				</span>
			</div>


			<div class='share'>
				<span  class='domain_content_title'>
					<strong>SHARING</strong>
					<hr width="80%" align="left" style="color:#EDA900; background-color:#EDA900; height:1px; border:none;" />
					</span>
				<span style="color: white; font-size: 1rem;">
					<img class='contact_sns_icon' src="../../static/img/facebook_img.png" align="middle">
					&nbsp;페이스북 공유
					<br>
					<img class='contact_sns_icon' src="../../static/img/kakao_img.png" align="middle">
					&nbsp;카카오톡 공유
					<br>
				</span>
			</div>
		</div>

		<div class="copyright">
			<span style="color: white; font-size: 2rem;">
				© 2017 EULJIRO-3-GA ALL RIGHTS RESERVED
				<BR><BR><BR>
			</span>>
		</div>
	</div>
	
	<script>
		var slideIndex = 0;
		showSlides();

		function showSlides() {
		    var i;
		    var slides = document.getElementsByClassName("mySlides");
		    //var dots = document.getElementsByClassName("dot");
		    for (i = 0; i < slides.length; i++) {
		       slides[i].style.display = "none";  
		    }
		    slideIndex++;
		    if (slideIndex > slides.length) {slideIndex = 1}
		    /* 
		    for (i = 0; i < dots.length; i++) {
		        dots[i].className = dots[i].className.replace(" active", "");
		    }
		    */
		    slides[slideIndex-1].style.display = "block";  
		    //dots[slideIndex-1].className += " active";
		    setTimeout(showSlides, 2000); // Change image every 2 seconds
		}
	</script>

	<script type="text/javascript">
		$("#content1").hover(function() {
			$('#mark1').show();
			$('#mark2').hide();
			$('#mark3').hide();
			$('#mark4').hide();
		});
		$("#content2").hover(function() {
			$('#mark1').hide();
			$('#mark2').show();
			$('#mark3').hide();
			$('#mark4').hide();
		});
		$("#content3").hover(function() {
			$('#mark1').hide();
			$('#mark2').hide();
			$('#mark3').show();
			$('#mark4').hide();
		});
		$("#content4").hover(function() {
			$('#mark1').hide();
			$('#mark2').hide();
			$('#mark3').hide();
			$('#mark4').show();
		});
	</script>

	<script type="text/javascript">
		$("#content1").hover(function() {
			$('#content_img1').css("-webkit-filter", "grayscale(0)");
            $('#content_img1').css("filter", "none");
			$('#content_img2').css("-webkit-filter", "grayscale(1)");
            $('#content_img2').css("filter", "gray");
            $('#content_img3').css("-webkit-filter", "grayscale(1)");
            $('#content_img3').css("filter", "gray");
            $('#content_img4').css("-webkit-filter", "grayscale(1)");
            $('#content_img4').css("filter", "gray");

            $('#text_container_content').html("CONTENT1");
            $('.text_container').hide();
            $('.text_container').fadeIn(500);
		});
		$("#content2").hover(function() {
			$('#content_img2').css("-webkit-filter", "grayscale(0)");
            $('#content_img2').css("filter", "none");
			$('#content_img1').css("-webkit-filter", "grayscale(1)");
            $('#content_img1').css("filter", "gray");
            $('#content_img3').css("-webkit-filter", "grayscale(1)");
            $('#content_img3').css("filter", "gray");
            $('#content_img4').css("-webkit-filter", "grayscale(1)");
            $('#content_img4').css("filter", "gray");

            $('#text_container_content').html("CONTENT2");
            $('.text_container').hide();
            $('.text_container').fadeIn(500);
		});
		$("#content3").hover(function() {
			$('#content_img3').css("-webkit-filter", "grayscale(0)");
            $('#content_img3').css("filter", "none");
			$('#content_img2').css("-webkit-filter", "grayscale(1)");
            $('#content_img2').css("filter", "gray");
            $('#content_img1').css("-webkit-filter", "grayscale(1)");
            $('#content_img1').css("filter", "gray");
            $('#content_img4').css("-webkit-filter", "grayscale(1)");
            $('#content_img4').css("filter", "gray");

            $('#text_container_content').html("CONTENT3");
            $('.text_container').hide();
            $('.text_container').fadeIn(500);
		});
		$("#content4").hover(function() {
			$('#content_img4').css("-webkit-filter", "grayscale(0)");
            $('#content_img4').css("filter", "none");
			$('#content_img2').css("-webkit-filter", "grayscale(1)");
            $('#content_img2').css("filter", "gray");
            $('#content_img3').css("-webkit-filter", "grayscale(1)");
            $('#content_img3').css("filter", "gray");
            $('#content_img1').css("-webkit-filter", "grayscale(1)");
            $('#content_img1').css("filter", "gray");

             $('#text_container_content').html("CONTENT4");
             $('.text_container').hide();
             $('.text_container').fadeIn(500);
		});
	</script>

	<script type="text/javascript">
		$(window).scroll(function () {

                var h = $(window).height();
                var w = $(window).width();

                $('#w').text(w);
                $('#h').text(h);

        });
		/*
        $(document).ready(function(){
			var t = $('.text_container').offset().top;
			var b = $('.text_container').offset().bottom;

			$('.cat_image').offset({top : (t+b)/2});
		});
		*/
	</script>

</body>
</html>
