<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<style type="text/css">
		.area{
			position: relative;
			width: 100%;
			height: 400px;
			display : none;
		}
	</style>
	<script type="text/javascript">
		function test2(name){
			$('.area').css('display', 'none');
			$('#' + name).css('display', 'block');
		}
	</script>
</head>
<body>
	<div class='map_img'>
		<map id="imgmap2017111914538" name="imgmap2017111914538">
			<area shape="rect" alt="" title="" coords="199,66,274,96" target="" onclick="test2('gangwon');"/>
			<area shape="rect" alt="" title="" coords="140,84,180,105" target="" onclick="test2('seoul');" />
			<area shape="rect" alt="" title="" coords="50,72,100,88" target="" onclick="test2('incheon');" />
			<area shape="rect" alt="" title="" coords="78,104,141,128" target="" onclick="test2('gyeonggi');" />
			<area shape="rect" alt="" title="" coords="60,143,120,163" target="" onclick="test2('chungnam');" />
			<area shape="rect" alt="" title="" coords="128,134,186,155" target="" onclick="test2('chungbuk');" />
			<area shape="rect" alt="" title="" coords="238,157,307,182" target="" onclick="test2('gyeongbuk');" />
			<area shape="rect" alt="" title="" coords="220,205,271,225" target="" onclick="test2('daegu');" />
			<area shape="rect" alt="" title="" coords="276,231,310,249" target="" onclick="test2('ulsan');" />
			<area shape="rect" alt="" title="" coords="248,262,301,280" target="" onclick="test2('busan');" />
			<area shape="rect" alt="" title="" coords="171,244,238,267" target="" onclick="test2('gyeongnam');" />
			<area shape="rect" alt="" title="" coords="71,255,136,276" target="" onclick="test2('gwangju');" />
			<area shape="rect" alt="" title="" coords="90,213,149,233" target="" onclick="test2('jeonbuk');" />
			<area shape="rect" alt="" title="" coords="104,171,167,194" target="" onclick="test2('daejeon');" />
			<area shape="rect" alt="" title="" coords="59,286,121,304" target="" onclick="test2('jeonnam');" />
			<area shape="rect" alt="" title="" coords="53,363,87,380" target="" onclick="test2('jeju');" />
			<!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
		</map>

		<img src="../../static/img/korea_map.jpg" style="width: auto; height: auto;" alt="" usemap="#imgmap2017111914538">
	</div>
	<div class="area" id="seoul">
		<p style="font-size: 200px;">
			Seoul
		</p>
	</div>

	<div class='area' id="incheon">
		<p style="font-size: 200px;">
			Incheon
		</p>
	</div>

	<div class='area' id="gyeonggi">
		<p style="font-size: 200px;">
			Gyeonggi
		</p>
	</div>

</body>
</html>