<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>통계자료</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <script type="text/javascript" src="../../static/js/stats.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/stats.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110211149-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-110211149-1');
	</script>
	<meta property="og:image" content="http://puppysignal.com/static/img/static_contents_1.png"/>
	  <meta name="description" content="내게 맞는 강아지를 찾아보세요.">
	  <meta property="og:type" content="website">
	  <meta property="og:title" content="퍼피시그널">
	  <meta property="og:description" content="내게 맞는 강아지를 찾아보세요.">
	  <meta property="og:url" content="http://puppysignal.com">
	  <meta property="fb:app_id" content="415485888902141">
	  <meta name="robots" content="index,nofollow">
	  <link rel="canonical" href="http://puppysignal.com">

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	
	<button onclick="topFunction()" id="topBtn" title="Go to top">TOP</button>
		<div class='top'>
		      <div class='top_logo'>
		        <img class='top_logo_img' src="../../static/img/logo_txt_color.png">  
		      </div>
		      <div class='top_nav'>
		        <a href="../"><span class="menu" id="w"> HOME </span></a>
		        <span class='menu_slash'> / </span>
		        <a href="../matching"><span class="menu" id="tmp"> 강아지매칭 </span></a>
		        <span class='menu_slash'> / </span>
		        <a href="../notice"><span class="menu" id="h"> 실종신고 </span></a>
		        <span class='menu_slash'> / </span>
		        <a href="../stats"><span class="menu" id="h"> 통개자료 </span></a>
		        <span class='menu_slash'> / </span>
		        <a href="../shelter"><span class="menu" id="h"> 보호소 </span></a>
		        <span class='menu_slash'> / </span>
		        <a href="../donator"><span class="menu" id="h"> 멍예의전당 </span></a>
		        <span class='menu_slash'> / </span>
		        <a href="../about_us"><span class="menu"> ABOUT US </span></a>
		      </div>
		  </div>

		<div class="top_title">
			<div class="logo_img_div">
				<p style="font-size: 1.5vw; font-weight: 900; color: black;">
				<img src="../../static/img/logo_img_color.png" align="middle" style="width: 5vw; height: auto;">
				통개자료
				</p>
			</div>
		</div>


		<img src="../../static/img/stat_bg12.jpg" class="hero-image2" style="width: 100%;">
		  <div class="hero-text" >
		    <h1>알고 계셨나요?</h1>
		    <p>우리나라 유기동물 현실</p>

		  </div>

		<div class='mid'>
			<div class='stat_img' id='stat_img1'>

				<img id='stat_img1' src='../../static/img/static_contents_1.png' >				
				
			</div>


			<div class='stat_img' id='stat_img2'>
				<img id='stat_img2' src='../../static/img/static_contents_2.png' >
				
			</div>


			<div class='stat_img' id='stat_img3'>
				<img id='stat_img3' src='../../static/img/static_contents_3.png' >
				
				
			</div>

			<div class='stat_img' id='stat_img4'>
				<img id='stat_img4' src='../../static/img/static_contents_4.png' >
				
				
			</div>

			<div class='stat_img' id='stat_img5'>
				<img id='stat_img5' src='../../static/img/static_contents_5.png' >
				
				
			</div>

			<div class='vidBox'>
				<video autoplay loop muted id="dogVid">
					<source src='../../static/video/sleepy_dog.mp4' type='video/mp4'>
						Your browser does not support HTML5 video.
				</video>
			</div>


			<p id='last_next'> 당신은 <br> 어떻게 하시겠습니까?<br>
			<a href="../donator"><button class="linkbtn" >DONATE</button></a>
			<a href="../shelter"><button class="linkbtn" >SHELTERS</button></a>	<br><br></p>

		</div>

</body>

</html>




