<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#id").change(function () {
			      var username = $(this).val();

			      $.ajax({
			        url: '../validate_username/',
			        data: {
			          'username': username
			        },
			        dataType: 'json',
			        success: function (data) {
			          if (data.is_taken) {
			            $('#valid_id').css('color', "green");
			            $('#valid_id').html("OK");
			          }
			          else{			
			            $('#valid_id').css('color', "red");
			            $('#valid_id').html("존재하지 않는 ID입니다.");
			          }
			        }
			      });

			    });
		});
	</script>
</head>
<body>
	<form action="../home/" method="post" name="login_frm">
	  {% csrf_token %}
	  ID :<br>
	  <input type="text" id="id" name="id" value="">
	  <span id="valid_id" style="font-size: 10px;">
	  	
	  </span>
	  <br>
	  Password :<br>
	  <input type="password" id="psw" name="psw" value="">
	  <br>
	  <input type="submit" value="login">
	</form>
</body>
</html>