
		@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
		@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
		@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
	.top{
      width: 100%;
      position: fixed;     /*  화면상 위치 고정  */
      z-index: 10000;          /*  z값 결정  */
      top : 0;
      height: 5vw;
      background-color: white;
    }

    .top_logo{
      position: relative;
      margin-top: 0.5vw;
      margin-left: 50%;
      -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -moz-transform: translate(-50%, 0%);
      -o-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      width: 30%;
      text-align: center;
      font-weight: 900;
    }
    .top_nav{  
      position: relative;
      /*margin-top: 3%;*/    /*  top 여백 설정  */
      width: 50%;
      margin-left: 50%;
      -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -moz-transform: translate(-50%, 0%);
      -o-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      text-align: center;
    }
    .menu{
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      color: #B5996D;
      font-size: 1vw;
      font-weight: 900;
    }
    .menu:hover {
      font-weight: 900;
      font-size: 1vw;
    }
    .top_logo_img{
      width: 14vw;
      height: 2vw;
      margin: 0;
    }
    .menu_slash{
      color: #BDBDBD;
      font-size: 1vw;
    }
    .top_logo_txt{
      font-size: 2vw;
      font-family: 'Clicker Script', cursive;
      color: #B5996D;
    }

    .top_nav a{
    	text-decoration: none;
    }


.title_content {
 	background: pink;
    background: -webkit-linear-gradient(left, white, #212121);
    background:    -moz-linear-gradient(right, white,#212121);
    background:      -o-linear-gradient(right, pink, #212121);
    background:         linear-gradient(to right, pink, #212121);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: bold;
    

}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
body, html { 
	margin: 0; 
	overflow-x: hidden;
	font-size: 62.5%;
}


div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
position: relative;
width: 500%;
margin: 0;
top:0;
left: 0;
text-align: left;
font-size: 0;
-webkit-animation: 10s slidy ease-in-out infinite;
animation: 10s slidy ease-in-out infinite; 
}


